*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.preview {
  position: relative;
  white-space: pre-line;
  min-height: 95%;
}
.previewText pre{
  max-height: 300px;
}
.preview, .previewText{
  background: #282c34;
  color: white;
}

.upper-btns{
  height: 5%;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100%;
  display: flex;
  gap: 5px;
  align-items: center;
}
.text{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}
.upper-btns .btn1 {
  width: 10px!important;
  height: 10px!important;
  border-radius: 50%;
  cursor: pointer;
}

.close {
  background-color: #ee4b4f;
}

.mini {
  background-color: #f1b03e;
}

.maxi {
  background-color: #31bd43;
}